:root {
  --main-color: #573bb2;
  --secondary-color: #304ca2;
  --highlight-color: #601700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--main-color);
}

a {
  text-decoration: none;
  color: var(--main-color);
}

.btn {
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  width: 10rem;
  border-radius: 5px;
  border: 1px black solid;
}

.btn:hover {
  background-color: var(--highlight-color);
  color: white;
}

input {
  margin-bottom: 0.5rem;
  margin: 0 auto;
  padding-left: 65px;
}

label {
  font-size: 25px;
  margin: 0 auto;
  text-align: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 5rem;
}

.logo {
  font-size: 2rem;
  color: var(--main-color);
  padding: 2rem;
}
.navigation {
  min-width: 25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

.centered-box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 5rem;
}
